body {
    background-color: #fff8f2;
    font-family:'Papyrus';
    font-size: 100%;
    font-weight: bolder;
    width: 100%;
    margin: 0;
}

/* Style header */
.header {
    color: #a04100;
}
.header a{
    color: #a04100;
    text-decoration: none;
}
.header h1 {
    text-align: center;
}

#navbar {
    overflow: hidden;
    width: 100%;
    background-color: rgba(51, 25, 0, 0.6);
    z-index: 1;
    text-align: center;
    height: 50px;
}

#navbar a {
    display: inline-block;
    height: 50px;
    padding-top: 12.5px;
    padding-left: 23px;
    padding-right: 23px;
    text-decoration: none;
    color: #fff;
}

#navbar a:hover {
    background-color: rgba(500, 400, 300, 0.6);
}

.center {
    position: relative;
    text-align: center;
    color: #fff;
}
.center img {
    z-index: 0;
    width: 90%; 
    height: 445px;
    padding-top: 25px;

}
.textPosOnImg {
    position: absolute;
    top: 83.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    color: #1b1f23;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 18px;
}
